<!DOCTYPE HTML> 

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta property="og:type" content="website">
    <meta property="og:title" content="IRTF PEARG">
    <meta property="og:description" content="Privacy Enhancements and Assessments Research Group">
    <meta property="og:url" content="https://irtf-pearg.github.io/">
    <meta property="og:site_name" content="IRTF PEARG">
  </head>
  <body>
      <div class="container">
        {{ content }}
      </div>
    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="/lib/bootstrap/bootstrap.min.js"></script>
  </body>
</html>
